<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${report.displayName} + '| ReportShell Samples'"></title>
  <meta name="_csrf" th:if="${_csrf != null}" th:content="${_csrf.token}"/>
  <th:block th:replace="~{fragments/layout :: head-common}"/>
</head>
<body>
<div style="display: flex; flex-direction: column; height: 100vh">
  <div th:replace="~{fragments/layout :: header}"></div>
  <div id="root" style="flex-grow: 1; display: flex; flex-direction: column"></div>
</div>
<script type="module" th:inline="javascript">
  const viewerModule = await import('[(@{/reportshell/assets/reportshell-viewer-react-latest.js})]');
  const csrfParamName = /*[[(${_csrf?.parameterName})]]*/ '_csrf';
  const csrfToken = document.querySelector('meta[name="_csrf"]')?.getAttribute('content');
  const env = /*[[(${viewerEnv})]]*/ {};
  await viewerModule.init(env);

  const props = /*[[(${viewerProps})]]*/ {};

  if (csrfToken) {
    props.requestInterceptor = (request) => {
      if (request.method === 'GET') {
        return;
      }
      if (!csrfToken) {
        return;
      }
      const formData = request.body?.formData;
      if (formData) {
        formData.append(csrfParamName, csrfToken);
      }
    }
  }

  viewerModule.mountReportViewer(document.getElementById('root'), props);
</script>
</body>
</html>
